{% extends 'layout.html' %}

{% block nav %}
		<nav>
			<a href="{{ url_for('home') }}">&laquo; View all Challenges</a>
		</nav>
{% endblock %}

{% block main %}
		<p>{{ challenge.details }}</p>

		<p class='single-input'>
 			<textarea id="find" placeholder="/regexp? here/i"></textarea>
 		</p>


		<h3>Test cases (<span id='passed-count'>0</span>/{{ challenge.num_tests() }}) <a id='permalink' class='button' href='./challenge2.html'>Permalink</a> <label id="hide_passing"><input type="checkbox"> Hide passing tests</label></h3>
		<dl id='tests'>
			{% for test in challenge.positive_cases.split(',') %}
			<dt>{{ test }}</dt><dd>match</dd>
			{%- endfor %}
			{% for test in challenge.negative_cases.split(',') %}
			<dt>{{ test }}</dt><dd>no match</dd>
			{%- endfor %}
		</dl>
		<div id="congratulations">Congratulations, your regex passes all the test cases! Remember to share this challenge.</div>
	</section>
{% endblock %}

{% block javascript %}<script src="{{ url_for('static', filename='challenge.js') }}"></script>{% endblock javascript %}
