SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/example.db'
SECRET_KEY = 'createasecretheredonttellanyone'

LDAP_SERVER = 'ldapv2.wpi.edu'
LDAP_PORT = 636
LDAP_CONNECTION_UUID = '<some UUID here>'
LDAP_PASSWORD = '<enter password here>'
BIND_DN_FORMAT = 'wpieduPersonUUID={},ou=People,dc=WPI,dc=EDU'
BIND_DN = BIND_DN_FORMAT.format(LDAP_CONNECTION_UUID)
BASE_DN = 'dc=WPI, dc=EDU'

ADMIN_USERNAMES = []
