SQLALCHEMY_DATABASE_URI = 'sqlite:////tmp/example.db'
SECRET_KEY = 'createasecretheredonttellanyone'

LDAP_SERVER = 'ldapv2.wpi.edu'
LDAP_PORT = 636
LDAP_CONNECTION_UUID = '61e7a301286bb5acb17e2edd942e7498'
LDAP_PASSWORD = 'WPIACMrootp@ssword!1'
BIND_DN_FORMAT = 'wpieduPersonUUID={},ou=People,dc=WPI,dc=EDU'
BIND_DN = BIND_DN_FORMAT.format(LDAP_CONNECTION_UUID)
BASE_DN = 'dc=WPI, dc=EDU'

ADMIN_USERNAMES = []
